{% extends "ShoeStoreProductBundle:Default:index.html.twig" %}

{% block title %}ShoeStoreProductBundle:ShoeInventory:display{% endblock %}

{% block stylesheets %}
	{% stylesheets '@ShoeStoreProductBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
		{% javascripts '@ShoeStoreProductBundle/Resources/public/js/*' %}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
{% endblock %}


{% block body %}
	<div id="contentViewPort">
		<div class="formContainer">
			<h1>Welcome to the Shoe Store! Add A New Shoe!</h1>
			{# app/Resources/views/Default/new.html.twig #}
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
		
		<div class="itemListContainer">
			<ul id="navigation">
				{% for shoe in allShoes %}
					<li>
						<div>
							{{ shoe.modelName }}
						</div>
						<div>
							<a href="{{ path('shoe_edit', { 'id': shoe.id }) }}">
								<img height=100 alt="{{ shoe.modelNumber }}" src="{{ shoe.modelImage }}">
							</a>
						</div>
						<div class="modelNumberPrice">
							<span>{{ shoe.modelNumber }}</span>
							<span>${{ shoe.msrPrice }}</span>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
